@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
.root {
    min-height: 110vh;
    width: 100%;
    background-color: #698474;
    /* color: white; */
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Patrick Hand', cursive;
}

.main {
    /* height : 60vh; */
    
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /*border: 1px solid #F9D423;*/
    backdrop-filter: blur(10px);
    background-color:#BAC7A7;
    width: 70%;
  
    min-height: 100vh;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 25px;
   /* border: 1px solid #F9D423;*/
    height: 100%;
    box-sizing: border-box;
}

.right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    /* border: 1px solid white; */
    height: 100%;
  
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input {
    margin: 10px 0;
    width: 120%;
    height: 25px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    background-color:#E5E4CC;
}

.lock{
    margin : 10px;
    padding: 10px;
    background-color: #faebd7;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing : border-box;
}

.heading {
    
    padding: 0px;
    margin: 0px;
    font-size: 50px;
    margin-bottom: 20px;
}

.error{
    color: red;
}

.button {
    width: 100%;
  
}